body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(164, 13, 13)/*cor de fundo*/;
    margin: 0;
}
/*menu de navegação*/
.menu{
    background-color: rgb(198, 51, 51);
    text-align: right; /*centralizar itens a direita*/
    padding: 15px 0; /*menu fica fixo no topo ao rolar a página*/
    position: fixed;
    width: 100%; /*ocupa toda a largura*/
    top: 0; /*fiza no topo*/
    left: 0;
    z-index: 10;
}
.menu ul{
    list-style: none; /*remove marcaddores da lista*/
    margin: 0;
    padding:0;
}
.menu li{
    display: inline;/*itens laldo a lado*/
    margin: 0 15px; /*espaço entre os itens*/
}
.menu a{
    color:rgb(0, 0, 0); /*cor de texto*/
    text-decoration: none; /*remove sublinhado*/
}
.menu a:hover{
    text-decoration: solid;
    color:rgb(255, 241, 133)
}
.sobre{
    background-color: rgb(255, 249, 185); /*Fundo claro para destacar a seção*/
    padding: flex;/*espaçamento interno a seção*/
}
.container-sobre{
    display: flex; /*Ativa o Flexbox para alinhar colunas lado a lado*/
    align-items: center; /*alinha verticalmente no centro*/
    justify-content: center;/*centraliza o centro horizontalmente*/
    gap:40px;/* espaço entre a imagem e texto*/
    flex-wrap: wrap;/* faz o elementos quebrarem linha em telas menores*/
}
/*estilo do título principal da secção*/
.sobre-texto {
    max-width: 600px;
}
.sobre-texto h2{
    color:rgb(235, 124, 124);/*cor fo título*/
    margin-bottom: 20px;/*espaço abaixo do título*/
    font-size: 2em;/*tamanho maiordo texto*/
}
.sobre-texto h2{
    color:rgb(0, 0, 0); /*cor azul título*/
    margin-top: 30px;/*espaço acima do subtítulo*/
    margin-bottom:20px;/*espaço abaixo do subtítulo*/
}
.sobre-texto h5{
    color:rgb(235, 124, 124);/*cor fo título*/
    margin-bottom: 20px;/*espaço abaixo do título*/
    font-size: 2em;/*tamanho maiordo texto*/
}
.sobre-texto h5{
    color:rgb(0, 0, 0); /*cor azul título*/
    margin-top: 30px;/*espaço acima do subtítulo*/
    margin-bottom:20px;/*espaço abaixo do subtítulo*/
}

 /*container dos cards de valores*/
 .valores{
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
 }
 .valor-card{
    background-color: rgb(227, 130, 130); /*parte branca do fundo em destaque*/
    padding: 20px; /*espaço interno dos cards*/
    border-radius: 10px;
    flex: 1 1 200px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
 }
 .contato-form{
    max-width: 600px;/*Largura maxima do formulario*/
    margin: 80px auto; /*centraliza horizontallmente e da espaço vertical*/
    background-color: rgb(253, 243, 168);
    padding: 60px;/*espaçamento interno*/
    border-radius: 10px;/*bordinhas arredondadas*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/*sombra suave*/
    text-align: center;/*alinhar textos a esquerda*/}
 

 .conform-form p {
    text-align: center;
    margin-bottom: 100px;
    font-weight: bold;
 }
 .conform-form inoput,

 footer{
    background-color: rgb(226, 87, 87);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px 0;
    margin-top: 40px;
    font-size: 14px;
 }
 .hero{
    position: relative; /*necessário para posicionar o conteúdo sobre a imagem*/
    width: 100%; 
    height: 90vh; /*ocupa toda ou parcial a altura da tela*/
    overflow: hidden; /*evita que a imagem ultrapasse a seção*/
 }
 .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
 }
 .sobre-imagem img{
    width:320px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgb(225, 164, 164);
 }

 .fotos h5{
    color:rgb(0, 0, 0);/*cor fo título*/
    margin-bottom: 20px;/*espaço abaixo do título*/
    font-size: 3em;/*tamanho maiordo texto*/
     text-align: center;
     background-color: rgb(240, 230, 138);
     width: 100%; 
}
 .fotos img{
    width:320px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgb(225, 164, 164);
    margin: 0 90px; /*espaço entre os itens*/
    display: inline;/*itens laldo a lado*/
    margin-bottom: 20px;/*espaço abaixo do título*/
 }
 .container-video{
    display: flex;
    justify-content: center;
    padding: 50px;
 }
  .meu-video {
    width: 100%;
    max-width: 500px;
    height:350px;
    object-fit: cover;
    border-radius: 15px;

  }
 